@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0; 
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    background: beige;
}
body{
}
nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
    padding-left: 15px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.lol a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.lol .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.lol .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.lol a:hover{
    background: #eee;
}
.lol nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.lol .back{
    position: absolute;
    bottom: 0;
}
.contain{
    padding-left: 90px;
    padding-top: 50px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-body{
    max-width: 80%;
    max-height: 80%;
    box-shadow: 2px 2px 12px 0px #808080;
    overflow: hidden;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
}
.user-info{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user h2{
    position: relative;
    display: inline-block;
    top: -20px;
    left: 10px;
}
.user-pro-pic{
    position: relative;
    width: 50px;
    border-radius: 50px;
}
.date-time{
    position: relative;
    margin-left: 4rem;
    top: -30px;
}
.description{
    position: relative;
    padding: 0.5rem;
    top: -30px;
}
.post-detail img{
    position: relative;
    width: 100%;
    height: 100%;
    top: -20px;
}
.team {
    margin: 30px 0;
    padding-left: 90px;
}
.container h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}
.container h1:after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    padding-left: 90px;
}
.card-container .card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container .card .index img{
    width: 100%;
    height: 100%;

}
.card-container .card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    transition-delay: 0.65s;
}
.card:hover .content{
    bottom: 0;
    transition-delay: 0s;
}
.card-container .card .content .content-box h3{
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.65s;
    opacity: 0;
    transform: translateY(-20px);
}
.card:hover .content .content-box h3{
    opacity: 1;
    transform: translateY(0);
}
.card-container .card .content .content-box h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.card-container .card .content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
}
.card-container .card .content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--1));
}
.card:hover .content .sci li{
    transform: translateY(0);
    opacity: 1;
}
.card-container .card .content .sci li a{
    color: #fff;
    font-size: 24px;
}
.footer-bottom{
    background: #ACACAC;
    width: 100%;
    padding: 10px 0;
    position: relative;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
    text-align: center;
}
.footer-bottom span{
    position: absolute;
    right: 1%;
    top: 25%;
}
